* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
}

button {
    cursor: pointer;
}

/* header */
.header {
    position: relative;
    background-color: #f56262;
}

.header::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 64px;
    height: 121px;
    background-image: url(../img/header-icon.png);
    background-repeat: no-repeat;
}

.container {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    margin-right: 20px;
}

.menu-link {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 7px 10px;
    border-radius: 3px;
    transition: background .3s linear;
}

.menu-link:hover,
.menu-link.active {
    background-color: #232324;
}

/* section - welcome */
.welcome {
    background-color: #eb4f4e;
}

.welcome-content {
    text-align: center;
    position: relative;
    padding: 60px 0 25px;
    color: #fff;
}

.welcome-content-title {
    font-size: 60px;
    letter-spacing: 15px;
}

.welcome-content-text {
    font-size: 20px;
    margin: 25px 0 35px;
    letter-spacing: 4px;
}

.welcome-prev,
.welcome-next {
    position: absolute;
    content: "";
    width: 38px;
    height: 72px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-repeat: no-repeat;
}

.welcome-prev {
    background-image: url(../img/welcome-prev.png);
    left: -150px;
}

.welcome-next {
    background-image: url(../img/welcome-next.png);
    right: -150px;
}

/* section - smart */
.smart {
    background-color: #232324;
}

.smart-content {
    text-align: center;
    padding: 45px 0 30px;
    color: #fff;
}

.smart-title {
    font-size: 40px;
    letter-spacing: 10px;
}

.smart-description {
    font-size: 20px;
    color: #d94948;
    margin: 25px 0 35px;
    letter-spacing: 2px;
}

.smart-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.smart-item {
    width: 240px;
}

.smart-item-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.smart-item-title {
    font-size: 30px;
    line-height: 24px;
    margin-bottom: 10px;
}

.smart-item-text {
    font-size: 18px;
    line-height: 21px;
    color: #e74c3c;
}

/* section - talented */
.talented {
    background-color: #6cc372;
}

.talented-content {
    text-align: center;
    padding: 40px 0 25px;
}

.talented-title {
    font-size: 40px;
    color: #fff;
    letter-spacing: 10px;
}

.talented-description {
    font-size: 20px;
    color: #232324;
    margin: 20px 0 40px;
    letter-spacing: 2px;
}

.talented-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.talented-item {
    width: 226px;
    background-color: #fff;
    padding: 25px 10px 12px;
    border-radius: 5px;
}

.talented-item-wrapper {
    margin: 0 auto;
    border: 10px solid #6cc372;
    border-radius: 50%;
    width: 165px;
    height: 165px;
    overflow: hidden;
    margin-bottom: 20px;
}

.talented-item-img {
    display: block;
}

.talented-item-title {
    font-size: 25px;
    color: #61af66;
    margin-bottom: 10px;
}

.talented-item-post {
    font-size: 18px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.talented-item-link {
    display: block;
    background-color: #6cc372;
    border-radius: 3px;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    background-image: url(../img/twit-icon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.talented-item-link:hover {
    background-color: #2ca134;
}

/* section - elegant */
.elegant {
    background-color: #f0f0f0;
}

.elegant-content {
    position: relative;
    text-align: center;
    padding: 40px 0 180px;
}

.elegant-title {
    font-size: 40px;
    color: #616161;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

.elegant-description {
    font-size: 20px;
    color: #61af66;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.elegant-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elegant-item-img {
    display: block;
    margin-bottom: 30px;
    background-color: #495565;
}

.elegant-sub-title {
    font-size: 21px;
    color: #232324;
    text-align: center;
}

.elegant-prev,
.elegant-next {
    position: absolute;
    content: "";
    width: 17px;
    height: 25px;
    border: none;
    top: 230px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.elegant-prev {
    background-image: url(../img/elegant-prev.png);
    left: -120px;
}

.elegant-next {
    background-image: url(../img/elegant-next.png);
    right: -120px;
}

/* section - tariffs */
.tariffs {
    background-color: #ffffff;
    border-top: 1px solid #d8d8d8;
}

.tariffs-content {
    text-align: center;
    padding-bottom: 30px;
}

.tariffs-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.tariffs-item {
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-top: -135px;
    padding-top: 20px;
    overflow: hidden;
}

.tariffs-name {
    font-size: 40px;
    color: #616161;
    line-height: 19px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.tariffs-description {
    font-size: 20px;
    color: #eb4f4e;
    line-height: 25px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.tariffs-option-list {
    position: relative;
    background-color: #f0f0f0;
}

.tariffs-item-standard .tariffs-option-list::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 31px;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
    background-image: url(../img/tariffs-icon.png);
    background-repeat: no-repeat;

}

.tariffs-option-item {
    font-size: 18px;
    color: #616161;
    line-height: 50px;
    letter-spacing: 1px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 1px #ffffff;
}

.tariffs-option-item:first-child {
    border-top: 1px solid #d8d8d8;
    box-shadow: 0 1px #ffffff;
}

.tariffs-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #616161;
}

.tariffs-price {
    position: relative;
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
    padding-left: 30px;
}

.tariffs-price::before {
    position: absolute;
    content: "$";
    font-size: 32px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: normal;
}

.tariffs-price span {
    font-size: 25px;
    font-weight: normal;
}

.tariffs-btn {
    border: none;
    font-size: 21px;
    color: #616161;
    background-color: #ffffff;
    padding: 7px 18px;
    border-radius: 3px;
    transition: .2s background linear;
}

.tariffs-btn:hover {
    background-color: #444040;
    color: #ffffff;
}

.tariffs-item-standard .tariffs-name,
.tariffs-item-standard .tariffs-btn {
    color: #eb4f4e;
}

.tariffs-item-standard .tariffs-description {
    color: #232324;
}

.tariffs-item-standard .tariffs-bottom {
    background-color: #eb4f4e;
}

.tariffs-bottom-text {
    font-size: 20px;
    color: #eb4f4e;
    letter-spacing: 3px;
}